*{
    margin: 0;
    padding: 0;
    background-color: black;
}

header{
    background-color: black;
    color: white;
}

nav {
    display: flex;
    /* justify-content: space-between; */
    /* padding: 1rem 3rem; */
    align-items: center;
}

.items {
    display: flex;
    align-items: center;
    gap: 30px;
}

button{
    padding: 20px 50px;
    margin: 90px;
    color: white;
    background-color: rgba(214, 17, 17, 0);
    border: white solid;
}

body{
    background-image: url('https://img-cdn.thepublive.com/fit-in/1280x960/filters:format(webp)/bnn/media/media_files/f83d089a54c7396eb9f6403ae7356ebf8753d7ece34ccb74ba395c439b639523.jpg');
}