.bottom {
    margin-top: 7px;
    background-color: black;
}


.faq {
    margin: auto;
    text-align: center;
    padding: 20px;
}

.faq h3 {
    font-size: 3rem;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 30px;
}

.ques {
    background-color: rgb(47, 46, 46);
    width: 70vw;
    height: 80px;
    margin: auto;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    font-size: 1.5rem;
    cursor: pointer;

}

.ques:hover {
    background-color: rgb(70, 70, 70);
}

.ques p {
    font-size: 2rem;
    padding-right: 30px;
}


/* Responsivenes */
@media only screen and (max-width: 1200px) {
    .ques {
        width: 80vw;
    }

    .faq h3 {
        font-size: 2rem;
    }
}


@media only screen and (max-width: 950px) {
    .ques {
        height: 60px;
        font-size: 1rem;
    }
}