@media only screen and (max-width: 660px) {
    
    .main{
        height: calc(480px + 10vh);
    }

    .left img {
        width: 120px;
        padding-left: 20px;
    }

    .top{
        height: 10vh;
    }

    .centre{
        justify-content: flex-start;
        height: 470px;
    }
    .text{
        margin-top: 10px;
        width: 300px;
    }
    .text h1{
        font-size: 2.2rem;
        font-weight: bolder;
    }
    .text p{
        font-size: 1.1rem;
    }
    #asbc{
        font-size: .9rem;
    }


    .email{
        flex-direction: column;
    }
    .email input{
        width: 70vw;
    }












}